@using InfraStructure.Pagination;
@using InfraStructure.ViewModels;
@model ListPagerVm<SetExamVm>

@{
    ViewData["Title"] = "Exam List";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

@{
    IEnumerable<SetExamVm> m = Model.list;
    var pagerModel = Model.pager;

    //making object of Pager class and asssign properties from pagerModel
    var pager = new Pager();

    int pageNo = 0;
    if (pagerModel != null)
    {
        pager = pagerModel;
        pageNo = pager.CurrentPage;
    }

}
<h3>All Quizes</h3>

<p>
    <a class="btn btn-outline-success" asp-area="" asp-controller="Exam" asp-action="SetExam">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               #
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().RoomCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().NoOfQuestions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().ExamDate)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
         @if (m != null && m.Count() > 0)
        {
            int index = 1;
            @foreach (var item in m)
            {
                <tr>
                    <td>
                        @index
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ExamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoOfQuestions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamDate)
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="" asp-controller="Exam" asp-action="ExamDelete" asp-route-id="@item.Examid">Delete</a>
                    </td>
                </tr>
            index++;
            }
        }
    </tbody>
</table>

@*---------------------------Pagination------------------------*@
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Exam" asp-action="SetExamList" asp-route-pg="1">First</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-controller="Exam" asp-action="SetExamList" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>

            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Exam" asp-action="SetExamList" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Exam" asp-action="SetExamList" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-controller="Exam" asp-action="SetExamList" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>

            }

        </ul>
    }

</div>